<div class="top container-fluid">
  <div class="row h-100 align-items-center">
    <div class="col-10 searchbar"><input type="text" class="inp w-100"></div>
    <div class="col-2 menu text-center"><i class="fas fa-bars"></i></div>
  </div>
</div>
<div class="content overflow-scroll pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12"><router-outlet></router-outlet></div>
    </div>
  </div>
</div>
<div class="container-fluid my-nav">
  <div class="row text-center h-100 align-items-center">
    <div class="col-4"><a [routerLink]="['home']" routerLinkActive="link-active"><i class="fas fa-home"></i></a></div>
    <div class="col-4"><a [routerLink]="['complete']" routerLinkActive="link-active"><i class="fas fa-check"></i></a></div>
    <div class="col-4"><a [routerLink]="['progress']" routerLinkActive="link-active"><i class="fas fa-clipboard-list"></i></a></div>
  </div>
</div>

